*.o
data
cuda/main
cuda/mummergpu/src/obj
cuda/mummergpu/lib
cuda/leukocyte/meschach_lib/meschach.a

cuda/output/**
!cuda/output/scripts

cuda/output/scripts/**
!cuda/output/scripts/common.py
!cuda/output/scripts/plot_ablation_study.py
!cuda/output/scripts/plot_avg_mem_dram_latency_rodinia.py
!cuda/output/scripts/plot_bliss_breakdown.py
!cuda/output/scripts/plot_bwutil.py
!cuda/output/scripts/plot_fairness_index.py
!cuda/output/scripts/plot_llm_num_mode_switches.py
!cuda/output/scripts/plot_llm_speedup.py
!cuda/output/scripts/plot_mem2pim_switch_latency_conflicts.py
!cuda/output/scripts/plot_mem_arrival_rate_rodinia.py
!cuda/output/scripts/plot_mem_characteristics_gpu_vs_pim.py
!cuda/output/scripts/plot_mem_characteristics_gpu_vs_pim_single_apps.py
!cuda/output/scripts/plot_mem_latency_tolerance.py
!cuda/output/scripts/plot_mem_speedup_rodinia.py
!cuda/output/scripts/plot_num_mode_switches.py
!cuda/output/scripts/plot_num_pre_act.py
!cuda/output/scripts/plot_radar_chart.py
!cuda/output/scripts/plot_speedup.py
!cuda/output/scripts/plot_speedup_gpu_vs_pim_single_apps.py
!cuda/output/scripts/plot_weighted_speedup.py
!cuda/output/scripts/print_base_queuing_service_latency.py
